---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Carouselbanner from "../components/carousel-banner.astro";
import Engine from "../components/engine.astro";
import Footer from "../components/footer.astro";
import Cloud from "../components/cloud.astro";
import Meter from "../components/meter.astro";
import FourG from "../components/4G.astro";
import Connect from "../components/connect.astro";
import Select from "../components/select.astro";

import Top from "../components/top.astro";

import "../style/reset.less";
---

<Layout>
  <div id="app">
    <Header />
    <Top />
    <Carouselbanner />
    <Select />
    <Engine />
    <FourG />
    <Meter />
    <Cloud />
    <Connect />
    <Footer />
  </div>
</Layout>
