---

---

<style>
  .bottom-fix {
    height: 60px;
    width: 100vw;
    background-color: rgb(75, 76, 227);
    color: rgb(255, 255, 255);
    font-size: 14px;
    position: fixed;
    bottom: 0px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      span {
        color: rgb(255, 255, 255);

        text-align: center;
        font-size: 14px;
      }
    }
  }
</style>
<div class="bottom-fix">
  <a href="">
    <span>完善信息领取方案资料！</span>
  </a>
</div>
