---
import Consult from "./consult.astro";
---

<style lang="less">
  .containerB {
    width: 100%;
    background-color: #fff;
    @media screen and (max-width: 768px) {
      display: none;
    }
    .containercard {
      margin: 0 auto;
      max-width: 1184px;
      .container-text {
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 60px 0px 32px;
        background-color: rgb(255, 255, 255);
        border-top: 0px none transparent;
        border-right: 0px none transparent;
        border-bottom: 0px none transparent;
        border-left: 0px none transparent;
        @media (max-width: 767px) {
          font-size: 28px;
          padding: 60px 43px 32px;
        }
      }
      .container-box {
        display: flex;
        justify-content: space-between;
        gap: 12px 12px;
        padding: 0px 0px 48px;
        .container-less {
          flex: 1;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          border-bottom-left-radius: 8px;
          background-color: rgb(255, 255, 255);
          box-shadow: rgba(175, 179, 186, 0.4) 1px 1px 6px 0px;
          .container-content {
            padding: 24px 24px 28px;
            img {
              object-fit: cover;
              display: inline-block;
              max-width: 100%;
              background-size: auto 100%;
              width: auto;
              height: auto;
            }
            .container-big {
              font-size: 16px;
              font-weight: 800;
              line-height: 24px;
              color: rgb(0, 0, 0);
              text-align: left;
            }
            .container-small {
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;
              color: rgb(74, 74, 74);
              text-align: left;
              margin: 8px 0px 0px;
            }
          }
        }
      }
    }
  }
</style>
<div class="containerB">
  <div class="containercard">
    <div class="container-text">赋能跨境电商品牌提供三大服务</div>
    <div class="container-box">
      <div class="container-less">
        <img
          src="https://promotion-static.tuyacn.com/static/439981714199269376.jpg"
          alt=""
        />
        <div class="container-content">
          <div class="container-big">品牌赋能</div>
          <div class="container-small">
            赋能跨境电商品牌客户极速实现旗下硬件产品的联网和智能化，涂鸦提供联网模组、OEM
            App、云服务等一站式服务，开发门槛低、成本投入小、落地速度快，帮助电商品牌快速构建全球化的智能生意。
          </div>
        </div>
      </div>
      <div class="container-less">
        <img
          src="https://promotion-static.tuyacn.com/static/439981714199269376.jpg"
          alt=""
        />
        <div class="container-content">
          <div class="container-big">品牌赋能</div>
          <div class="container-small">
            赋能跨境电商品牌客户极速实现旗下硬件产品的联网和智能化，涂鸦提供联网模组、OEM
            App、云服务等一站式服务，开发门槛低、成本投入小、落地速度快，帮助电商品牌快速构建全球化的智能生意。
          </div>
        </div>
      </div>
      <div class="container-less">
        <img
          src="https://promotion-static.tuyacn.com/static/439981714199269376.jpg"
          alt=""
        />
        <div class="container-content">
          <div class="container-big">品牌赋能</div>
          <div class="container-small">
            赋能跨境电商品牌客户极速实现旗下硬件产品的联网和智能化，涂鸦提供联网模组、OEM
            App、云服务等一站式服务，开发门槛低、成本投入小、落地速度快，帮助电商品牌快速构建全球化的智能生意。
          </div>
        </div>
      </div>
    </div>
    <Consult />
  </div>
</div>
