---

---

<style lang="less">
  .cardC {
    width: 100%;
    height: auto;
    background-color: rgb(0, 92, 255);
    padding-bottom: 48px;
    .container-content {
      max-width: 1184px;
      margin: 0 auto;
      .container-content-title {
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 60px 0px 40px;
        @media (max-width: 767px) {
          font-size: 30px;
          line-height: 38px;
          div {
            @media (max-width: 767px) {
              padding: 0 16px;
            }
          }
        }
      }
      .container-content-card {
        display: grid;
        grid-template: repeat(2, auto) / repeat(3, 1fr);
        justify-items: center;
        gap: 12px 12px;
        padding-bottom: 16px;
        @media (max-width: 767px) {
          grid-template: repeat(3, auto) / repeat(2, 1fr);
          padding: 0 16px;
        }
        > div {
          border-radius: 8px;
          background-color: #fff;
          > div {
            padding: 32px;
            text-align: center;
            img {
              width: 48px;
              height: 48px;
            }
            .container-content-card-title {
              font-size: 18px;
              font-weight: 800;
              line-height: 24px;
              color: rgb(0, 0, 0);
              margin: 16px 0px 0px;
            }
            .container-content-card-text {
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;
              color: rgb(74, 74, 74);
              text-align: center;
              margin: 8px 0px 0px;
            }
          }
        }
      }
    }
  }
</style>
<div class="cardC">
  <div class="container-content">
    <div class="container-content-title">
      <div>涂鸦智能硬件开发方案 6 大优势</div>
    </div>
    <div class="container-content-card">
      <div>
        <div>
          <img
            src="https://promotion-static.tuyacn.com/static/353470425231249408.png"
            alt=""
          />
          <div class="container-content-card-title">零门槛</div>
          <div class="container-content-card-text">
            产品端、云端、控制端融合的一站式开发，快速实现手机App/智能语音控制，让零基础企业轻松
            转型智能化。
          </div>
        </div>
      </div>
      <div>
        <div>
          <img
            src="https://promotion-static.tuyacn.com/static/353470425231249408.png"
            alt=""
          />
          <div class="container-content-card-title">零门槛</div>
          <div class="container-content-card-text">
            产品端、云端、控制端融合的一站式开发，快速实现手机App/智能语音控制，让零基础企业轻松
            转型智能化。
          </div>
        </div>
      </div>
      <div>
        <div>
          <img
            src="https://promotion-static.tuyacn.com/static/353470425231249408.png"
            alt=""
          />
          <div class="container-content-card-title">零门槛</div>
          <div class="container-content-card-text">
            产品端、云端、控制端融合的一站式开发，快速实现手机App/智能语音控制，让零基础企业轻松
            转型智能化。
          </div>
        </div>
      </div>
      <div>
        <div>
          <img
            src="https://promotion-static.tuyacn.com/static/353470425231249408.png"
            alt=""
          />
          <div class="container-content-card-title">零门槛</div>
          <div class="container-content-card-text">
            产品端、云端、控制端融合的一站式开发，快速实现手机App/智能语音控制，让零基础企业轻松
            转型智能化。
          </div>
        </div>
      </div>
      <div>
        <div>
          <img
            src="https://promotion-static.tuyacn.com/static/353470425231249408.png"
            alt=""
          />
          <div class="container-content-card-title">零门槛</div>
          <div class="container-content-card-text">
            产品端、云端、控制端融合的一站式开发，快速实现手机App/智能语音控制，让零基础企业轻松
            转型智能化。
          </div>
        </div>
      </div>
      <div>
        <div>
          <img
            src="https://promotion-static.tuyacn.com/static/353470425231249408.png"
            alt=""
          />
          <div class="container-content-card-title">零门槛</div>
          <div class="container-content-card-text">
            产品端、云端、控制端融合的一站式开发，快速实现手机App/智能语音控制，让零基础企业轻松
            转型智能化。
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
