---

---

<style lang="less">
  .cardE {
    width: 100%;
    height: auto;
    background-color: rgb(21, 72, 247);
    .container-content {
      max-width: 1184px;
      margin: 0 auto;
      .container-content-title {
        padding: 60px 0px 12px;
        text-align: center;
        .container-content-title-bigtitle {
          font-size: 40px;
          font-weight: 700;
          line-height: 48px;
          color: rgb(255, 255, 255);
          @media screen and (max-width: 768px) {
            font-size: 28px;
          }
        }
        .container-content-title-smalltitle {
          font-size: 18px;
          font-weight: 400;
          line-height: 26px;
          color: rgb(255, 255, 255);
          text-align: center;
          padding: 16px 0px 0px;
          @media screen and (max-width: 768px) {
            font-size: 14px;
          }
        }
      }
      .container-content-cardlist {
        height: 362px;
        background-size: auto 100%;
        background-image: url(https://promotion-static.tuyacn.com/static/368229361146650624.jpg);
        background-position-x: 50%;
        background-position-y: 50%;
        background-repeat: no-repeat;
        @media screen and (max-width: 768px) {
          background-image: url(https://promotion-static.tuyacn.com/static/368229772616257536.jpg);
          height: 460px;
        }
      }
    }
  }
</style>
<div class="cardE">
  <div class="container-content">
    <div class="container-content-title">
      <div class="container-content-title-bigtitle">
        厂商只需关注产品生产，产品智能化全部交给涂鸦
      </div>
      <div class="container-content-title-smalltitle">
        一站式服务 全面解决从开发到量产的一系列问题
      </div>
    </div>
    <div class="container-content-cardlist"></div>
  </div>
</div>
