---
import Consult from "./consult.astro";
---

<style lang="less">
  .cardF {
    background-color: rgb(245, 245, 245);
    height: 434px;
    background-size: 100%;
    background-image: url(https://promotion-static.tuyacn.com/static/353124900099313664.jpg);
    background-position-x: 50%;
    background-position-y: 50%;
    margin: 0px 0px 0px auto;
    background-repeat: no-repeat;
    @media screen and (max-width: 768px) {
      background-size: cover;
      height: 460px;
      background-position-x: 71%;
      background-image: url(https://promotion-static.tuyacn.com/static/353478646478131200.png);
    }
    .container-content {
      max-width: 1184px;
      padding: 0px 0px 0px 32px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      min-height: 100%;
      margin: 0px auto;
      @media screen and (max-width: 768px) {
        align-items: flex-start;
      }
      .container-content-text {
        font-size: 48px;
        font-weight: 700;
        line-height: 60px;
        color: rgb(19, 20, 21);
        white-space: break-spaces;
        overflow-wrap: break-word;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: block;
        padding: 32px 0;
        @media screen and (max-width: 768px) {
          font-size: 28px;
          margin-top: 30px;
        }
      }
    }
  }
</style>
<div class="cardF">
  <div class="container-content">
    <div>
      <div class="container-content-text">免费获取智能化开发方案</div>
      <!-- <Consult samllbtn="samllbtn" /> -->
    </div>
  </div>
</div>
