---
const { samllbtn } = Astro.props;
---

<style>
  .consult {
    padding: 0px 0px 48px;
    .consult-box {
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 1184px;
      cursor: pointer;
      .consult-text {
        min-width: 120px;
        height: 48px;
        margin: auto 0;
        border-radius: 60px;
        background: #ff4800;
        color: #fff;
        font-weight: 700;
        padding: 0 24px 0 26px;
        font-size: 14px;
        line-height: 20px;
        position: relative;
        span:nth-of-type(1) {
          display: inline-block;
          text-overflow: ellipsis;
          line-height: 48px;
        }
        span:nth-of-type(2) {
          display: inline-block;
          position: absolute;
          top: 11px;
          right: 14px;
          transition: right 0.3s ease;
        }
      }
    }
    .samllbtn {
      justify-content: flex-start !important;
    }
    .consult-box:hover {
      .consult-text {
        background: #de3f00;
        span:nth-of-type(2) {
          right: 4px;
        }
      }
    }
  }
</style>
<div class="consult">
  <div class={`consult-box ${samllbtn}`}>
    <div class="consult-text">
      <span>立即咨询</span>
      <span
        ><svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9 5l7 7-7 7"
            fill="none"
            stroke="currentColor"
            stroke-width="2"></path>
        </svg>
      </span>
    </div>
  </div>
</div>
