---

---

<style lang="less">
  #footer {
    margin-top: 45px;
    font-size: 10px;
    @media screen and (max-width: 768px) {
      margin-top: 0;
      font-size: 0.8rem;
    }
  }
  .footer-container {
    background: #ffffff;
    padding: 20px 0 0;
  }

  /* 上部分布局 */
  .top-section {
    max-width: 943px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  /* 右边文字区域 */
  .right-text {
    @media screen and (max-width: 768px) {
      margin-bottom: 8px;
    }
  }
  .right-text p {
    margin: 8px 0;
    line-height: 1.5;
    color: #a1a1a1;
    @media screen and (max-width: 768px) {
      margin: 0;
    }
  }

  /* 底部信息 */
  .bottom-info {
    text-align: center;
    border-top: 0.8px solid #ddd;
    padding: 10px 0;
    color: #a1a1a1;
    font-size: 10px;
    @media screen and (max-width: 768px) {
      font-size: 0.8rem;
      padding: 0.8rem 0;
    }
  }
  .logo {
    width: 110px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 768px) {
      width: 60px;
    }
  }
  a {
    color: #a1a1a1;
  }
</style>
<footer id="footer">
  <div class="footer-container">
    <div class="top-section">
      <!-- 右边文字区域 -->
      <div class="right-text">
        <p>公司地址：上海浦东秀沿路100号城置广场6楼611室</p>
        <p>咨询电话：177 1725 8958（微信同号）</p>
        <p>商务合作：luxiangcheng@openluat.com</p>
      </div>
      <div class="logo">
        <img src="/images/footer-logo.png" alt="" />
      </div>
    </div>

    <!-- 底部信息 -->
    <div class="bottom-info">
      <a href="https://beian.miit.gov.cn/" target="_blank">
        上海合宙通信科技有限公司 沪ICP备16018266号-2
      </a>
    </div>
  </div>
</footer>
