---
let formList = {
  companyName: "公司名称",
  name: "您的姓名",
  phoneNumber: "手机号码",
  companyLocation: "公司所在地",
};
---

<style lang="less">
  .container-form {
    width: 100%;
    height: 886px;
    background-color: rgb(231, 244, 252);
    background-image: url("/images/formbgi.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    .container-box {
      width: 480px;
      margin-top: 30px;
      margin-left: 780px;
      /* height: auto; */
      // height: 480px;
      padding: 40px;
      min-width: 360px;
      background-color: #fff;
      .row {
        color: rgba(0, 0, 0, 0.85);
        font-size: 14px;
        label {
          font-weight: 400 !important;
        }
        input {
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          font-variant: tabular-nums;
          list-style: none;
          -webkit-font-feature-settings: "tnum";
          font-feature-settings: "tnum";
          position: relative;
          display: inline-block;
          width: 100%;
          min-width: 0;
          padding: 4px 11px;
          color: rgba(0, 0, 0, 0.85);
          font-size: 14px;
          line-height: 1.5715;
          background-color: #fff;
          background-image: none;
          border: 1px solid #d9d9d9;
          border-radius: 2px;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
        }
      }
    }
  }
</style>
<div class="container-form">
  <div class="container-box">
    <form action="">
      <!-- 第一个 -->
      <div class="row">
        <div class="form-group col-md-6">
          <label for="exampleInputEmail1">公司名称</label>
          <input
            type="text"
            class="form-control"
            placeholder="请填写你的公司名称"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="exampleInputEmail1">您的姓名</label>
          <input
            type="text"
            class="form-control"
            placeholder="请填写您的姓名"
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="exampleInputEmail1">公司名称</label>
          <input
            type="text"
            class="form-control"
            placeholder="请填写你的公司名称"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="exampleInputEmail1">您的姓名</label>
          <input
            type="text"
            class="form-control"
            placeholder="请填写您的姓名"
          />
        </div>
      </div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </form>
  </div>
</div>
